{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-grid gap-3">
        {% for sender in senders %}
            <a
                role="button"
                class="btn btn-outline-primary"
                href="{{ path('app.notification_config.create', {"serviceId": sender.id}) }}"
            >{{ sender.name }}</a>
        {% endfor %}
    </div>
{% endblock %}