{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add new {{ sender.name }} notifier</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Add</button>
    {{ form_end(form) }}
{% endblock %}

